.btn-group {
    position: relative;
    height: 20px;
    border: none;
    list-style: none;
    }

.btn {
    display: flex;
    line-height: 75%;
    justify-content: center;
    font-size: 11px;
    border: none;
}